.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 12px;
}
.form-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: flex-start;
    justify-content: left;
}

input[type = submit] {
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
}
input[type = submit]:hover {
    width: 100%;
    height: 30px;
    background-color: aquamarine;
}